{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1>Add part</h1>
        <p class="lead">Add a new part</p>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <form action="{{ url_for('add_part', bike_id=bike_id ) }}" method="POST" role="form">
                    
                    <!-- part type -->
                    <fieldset class="form-field">
                        {{ form.p_type.label }}
                        {{ form.p_type }}
                        {% if form.p_type.errors %}
                        <ul class="errors">
                            {% for error in form.p_type.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- added date -->
                    <fieldset class="form-field">
                        {{ form.dt.label }}
                        {{ form.dt }}
                        {% if form.dt.errors %}
                        <ul class="errors">
                            {% for error in form.dt.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- brand -->
                    <fieldset class="form-field">
                        {{ form.brand.label }}
                        {{ form.brand }}
                        {% if form.brand.errors %}
                        <ul class="errors">
                            {% for error in form.brand.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- price -->
                    <fieldset class="form-field">
                        {{ form.price.label }}
                        {{ form.price }}
                        {% if form.price.errors %}
                        <ul class="errors">
                            {% for error in form.price.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- weight -->
                    <fieldset class="form-field">
                        {{ form.weight.label }}
                        {{ form.weight }}
                        {% if form.weight.errors %}
                        <ul class="errors">
                            {% for error in form.weight.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- size -->
                    <fieldset class="form-field">
                        {{ form.size.label }}
                        {{ form.size }}
                        {% if form.size.errors %}
                        <ul class="errors">
                            {% for error in form.size.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- model -->
                    <fieldset class="form-field">
                        {{ form.model.label }}
                        {{ form.model }}
                        {% if form.model.errors %}
                        <ul class="errors">
                            {% for error in form.model.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- Virtual -->
                    <fieldset class="form-field">
                        {{ form.virt.label }}
                        {{ form.virt }}
                        {% if form.virt.errors %}
                        <ul class="errors">
                            {% for error in form.virt.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    {{ form.submit }}

                </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

    <!-- Buttons at bottom -->
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col text-center" style="margin-top:.5cm;">
            <a class="btn btn-secondary btn-lg btn-block" role="button" href="/bike?id={{ bike_id }}"> Cancel (return to bike list) </a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}
