{% extends 'layout.jinja' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1>Add part maintenance</h1>
        <p class="lead">Add a new maintenance record</p>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <form action="{{ url_for('add_maintenance', part_id=part_id ) }}" method="POST" role="form">
                    <!-- Work performed -->
                    <fieldset class="form-field">
                        {{ form.work.label }}
                        {{ form.work }}
                        {% if form.work.errors %}
                        <ul class="errors">
                            {% for error in form.work.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <!-- purchase date -->
                    <fieldset class="form-field">
                        {{ form.dt.label }}
                        {{ form.dt }}
                        {% if form.dt.errors %}
                        <ul class="errors">
                            {% for error in form.dt.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    {{ form.submit }}

                </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

    <!-- Buttons at bottom -->
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col col-sm-8 text-center" style="margin-top:.5cm;">
            <a class="btn btn-secondary btn-lg btn-block" role="button" href="{{ url_for('part', id=part_id ) }}"> Cancel (return to part details) </a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}
