{% extends 'layout.jinja' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1>Bike List</h1>
        <p class="lead">Here are all the bikes in your garage</p>
    </div>

    <!-- Table with the bikes -->
    <div class="row">
        <div class="col-sm-2">
        </div>
        <!-- Left column with table -->
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead> <tr><th>Nickname</th><th>Manufacturer</th><th>Color</th><th>Purchase Date</th></tr>
                </thead>
                <tbody>
                    {% for bike in bikes %}
                    <tr>
                        <td>
                            <a
                                href="{{ url_for('bike', id=bike.bike_id ) }}">{{ bike.name }}
                            </a>
                        </td>
                        <td>
                            {{ bike.mfg}}
                        </td>
                        <td>
                            {{ bike.color }}
                        </td>
                        <td>
                            {{ bike.purchased }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

<!-- Buttons at bottom -->
<div class="row" style="margin-top:.5cm;">
    <div class="col-sm-2">
    </div>
    <div class="col col-sm-8 text-center">
        <a class="btn btn-primary btn-lg btn-block" role="button" href="#"> Add new bike</a>
    </div>
    <div class="col-sm-2">
    </div>
</div>

{% endblock %}
