{% extends 'layout.jinja' %}
{% block content %}
<div>
    {% if msg %}
    <div class="alert alert-success">{{msg}}</div>
    {% endif %}
    
    
    <div class="container" style="margin-top:.5cm;">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bikes</h5>
                        <p class="card-text">Access list of bikes in garage and functions to add and update bikes as well as view bike statistics and summaries.</p>
                        <a href="{{ url_for('bikes') }}" class="btn btn-primary">Bikes!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Parts</h5>
                        <p class="card-text">Access list of parts and functions to maintain, replace, add, or edit parts as well as view part statistics and summaries.</p>
                        <a href="/part_averages" class="btn btn-primary">Parts!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rider</h5>
                        <p class="card-text">View rider statistics and access functions to update or edit rider.</p>
                        <a href="/rider" class="btn btn-primary">Rider!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Strava</h5>
                        <p class="card-text">Access functions to fetch new ride data from Strava and manipulate Strava application credentials.</p>
                        <a href="/strava_funcs" class="btn btn-primary">Strava!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock %}
