{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1>Part Stats</h1>
        <p class="lead">Here are some statistics about retired parts</p>
    </div>

    <!-- Table with the parts -->
    <div class="row">
        <div class="col-sm-2">
        </div>
        <!-- Left column with table -->
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead> <tr><th>Type</th><th>Price</th><th>Weight</th><th>Distance</th><th>Elevation</th><th>Time in use</th></tr>
                </thead>
                <tbody>
                    {% for avg in avgs %}
                    <tr><td>{{ avg[0] }}</a></td><td>{{ avg[1]}}</td><td>{{ avg[2] }}</td><td>{{ avg[3] }}</td><td>{{ avg[4] }}</td><td>{{ avg[5] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}
