{% extends 'layout.jinja' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1> Part details </h1>
        <p class="lead">Here's what we know about your part</p>
    </div>

    <!-- Bike details -->
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <h4>Part details</h4>
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Part id</b>:</td> <td>{{ part_details.part_id }}</td></tr>
                    <tr><td><b>Added date</b>:</td> <td>{{ part_details.added }}</td></tr>
                    <tr><td><b>Type</b>:</td> <td>{{ part_details.tp }}</td></tr>
                    <tr><td><b>Brand</b>:</td> <td>{{ part_details.brand }}</td></tr>
                    <tr><td><b>Model</b>:</td> <td>{{ part_details.model }}</td></tr>
                    <tr><td><b>Size</b>:</td> <td>{{ part_details.size }}</td></tr>
                    <tr><td><b>Weight</b>:</td> <td>{{ part_details.weight }}</td></tr>
                    <tr><td><b>Price</b>:</td> <td>{{ part_details.price }}</td></tr>
                    <tr><td><b>Virtual</b>:</td> <td>{{ part_details.virtual }}</td></tr>
                    <tr><td><b>Bike</b>:</td> <td>{{ bike_name }}</td></tr>
                </tbody>
            </table>
        </div>
        <!-- Update stats -->
        <div class="col-sm-2">
            <h4>Update stats</h4>
            <p>Use these input boxes to change the date range used to compile part statistics </p>
            <form action="{{ url_for('part', part_id=part_id ) }}" method="POST" role="form">
                <!-- start date -->
                <fieldset class="form-field">
                    {{ form.start_date.label }}
                    {{ form.start_date }}
                    {% if form.start_date.errors %}
                    <ul class="errors">
                        {% for error in form.start_date.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <!-- end date -->
                <fieldset class="form-field">
                    {{ form.end_date.label }}
                    {{ form.end_date }}
                    {% if form.end_date.errors %}
                    <ul class="errors">
                        {% for error in form.end_date.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Refresh Details</button>
            </form>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
    </div>

    <div class="row">
        <!-- Row with part stats -->
        <div class="col-sm-1">
        </div>
        <!-- Basic statistics -->
        {% if virtual %}
        <h4>Live ride stats</h4>
        <div class="col-sm-2">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Distance</b>:</td> <td>{{ stats['dist'][0] }} {{ dist_unit }}</td></tr>
                    <tr><td><b>Climbing</b>:</td> <td>{{ stats['elev'][0] }} {{ elev_unit }}</td></tr>
                    <tr><td><b>Moving time</b>:</td> <td>{{ stats['moving_time'][0] }} hours</td></tr>
                    <tr><td><b>Elapsed time</b>:</td> <td>{{ stats['elapsed_time'][0] }} hours</td></tr>
                    <tr><td><b>Calories</b>:</td> <td>{{ stats['cal'][0] }}</td></tr>
                    <tr><td><b>Maximum speed</b>:</td> <td>{{ stats['max_speed'][0] }} {{ speed_unit }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <h4>Virtual Ride Stats</h4>
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Distance</b>:</td> <td>{{ stats['dist'][1] }} {{ dist_unit }}</td></tr>
                    <tr><td><b>Climbing</b>:</td> <td>{{ stats['elev'][1] }} {{ elev_unit }}</td></tr>
                    <tr><td><b>Moving time</b>:</td> <td>{{ stats['moving_time'][1] }} hours</td></tr>
                    <tr><td><b>Elapsed time</b>:</td> <td>{{ stats['elapsed_time'][1] }} hours</td></tr>
                    <tr><td><b>Calories</b>:</td> <td>{{ stats['cal'][1] }}</td></tr>
                    <tr><td><b>Maximum speed</b>:</td> <td>{{ stats['max_speed'][1] }} {{ speed_unit }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
        <h4> </h4>
        <div class="col-sm-2">
            <h4>All ride stats</h4>
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Distance</b>:</td> <td>{{ stats['dist'][2] }} {{ dist_unit }}</td></tr>
                    <tr><td><b>Climbing</b>:</td> <td>{{ stats['elev'][2] }} {{ elev_unit }}</td></tr>
                    <tr><td><b>Moving time</b>:</td> <td>{{ stats['moving_time'][2] }} hours</td></tr>
                    <tr><td><b>Elapsed time</b>:</td> <td>{{ stats['elapsed_time'][2] }} hours</td></tr>
                    <tr><td><b>Calories</b>:</td> <td>{{ stats['cal'][2] }}</td></tr>
                    <tr><td><b>Maximum speed</b>:</td> <td>{{ ms }} {{ speed_unit }}</td></tr>
                    <tr><td><b>Earliest ride</b>:</td> <td>{{ stats['min_dt'] }}</td></tr>
                    <tr><td><b>Recent ride</b>:</td> <td>{{ stats['max_dt'] }}</td></tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if not virtual %}
        <h4>Live ride stats</h4>
        <div class="col-sm-2">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Distance</b>:</td> <td>{{ stats['dist'][0] }} {{ dist_unit }}</td></tr>
                    <tr><td><b>Climbing</b>:</td> <td>{{ stats['elev'][0] }} {{ elev_unit }}</td></tr>
                    <tr><td><b>Moving time</b>:</td> <td>{{ stats['moving_time'][0] }} hours</td></tr>
                    <tr><td><b>Elapsed time</b>:</td> <td>{{ stats['elapsed_time'][0] }} hours</td></tr>
                    <tr><td><b>Calories</b>:</td> <td>{{ stats['cal'][0] }}</td></tr>
                    <tr><td><b>Maximum speed</b>:</td> <td>{{ stats['max_speed'][0] }} {{ speed_unit }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
        {% endif %}
        
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
    </div>


    <!-- Table with the maintenance-->
    <div class="row">
        <div class="col-sm-1">
        </div>
        <!-- Left column with table -->
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead> <tr><th>Work</th><th>date</th></tr>
                </thead>
                <tbody>
                    {% for m in maint %}
                    <tr><td>{{ m.work }}</td><td>{{ m.date }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

<!-- Buttons at bottom -->
<div class="row" style="margin-top:.5cm;">
    <div class="col-sm-2">
    </div>
    <div class="col col-sm-8 text-center">
        <a
            class="btn btn-primary btn-lg btn-block"
            role="button"
            href="{{ url_for('add_maintenance', id=part_details.part_id ) }}">
            Maintain current part
        </a>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row" style="margin-top:.5cm;">
    <div class="col-sm-2">
    </div>
    <div class="col col-sm-8 text-center">
        <a
            class="btn btn-secondary btn-lg btn-block"
            role="button"
            href="{{ url_for('edit_part', id=part_details.part_id) }}">
            Edit current part
        </a>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row" style="margin-top:.5cm;">
    <div class="col-sm-2">
    </div>
    <div class="col col-sm-8 text-center">
        <a
            class="btn btn-secondary btn-lg btn-block"
            role="button"
            href="{{ url_for('add_part', 
                             bike_id=bike_id,
                             tp=part_details.tp,
                             brand=part_details.brand,
                             weight=part_details.weight,
                             size=part_details.size,
                             model=part_details.model,
                             retire=1,
                             part_id=part_details.part_id) }}"> 
            Replace current part
        </a>
    </div>
    <div class="col-sm-2">
    </div>
</div>

{% endblock %}
