{% extends 'layout.jinja' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h1 >{{ rider }}</h1>
        <p class="lead">Here's what we know about {{ rider }}:</p>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td><b>Name</b>:</td> <td>{{ rider }}</td></tr>
                    <tr><td><b>Maximum speed</b>:</td> <td>{{ max_speed }} {{ speed_unit }}</td></tr>
                    <tr><td><b>Average speed</b>:</td> <td>{{ avg_speed }} {{ speed_unit }}</td></tr>
                    <tr><td><b>Total distance</b>:</td> <td>{{ tot_dist }} {{ dist_unit }}</td></tr>
                    <tr><td><b>Total elevataion gain</b>:</td> <td>{{ tot_climb }} {{ elev_unit }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

<!-- Buttons at bottom -->
<div class="row" style="margin-top:.5cm;">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-center">
        <a class="btn btn-primary btn-lg btn-block" role="button" href="/edit_rider"> Edit Rider </a>
    </div>
    
    <div class="col-sm-2">
    </div>
</div>


{% endblock %}
