{% extends 'layout.jinja' %}
{% block content %}
<div>
    <div class="container" style="margin-top:.5cm;">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Strava Credentials</h5>
                        <p class="card-text">Edit the existing Strava credentials</p>
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Authorize</h5>
                        <p class="card-text">Connect to Strava and authorize this application. This is used for initializing the application the first time.</p>
                        <a href="{{ auth_url }}" class="btn btn-primary">Authorize</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock %}
