<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        
        <!-- <link href="../static/cover.css" rel="stylesheet"> -->
        <title>Bike Garage</title>
    </head>
    <body>
        <!-- Page Content -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand">Bike Garage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- Rider dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Rider</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/rider">Rider Info</a>
                            <a class="dropdown-item" href="/edit_rider">Edit Rider</a>
                        </div>
                    </li>
                    <!-- Bike dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Bikes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/bikes">Bike list</a>
                            <div class="dropdown-divider"></div>
                            {% for b in bike_menu_list %}
                            <a class="dropdown-item" href="/bike?id={{ b[0] }}">{{ b[1] }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <!-- Parts dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Parts</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Parts by bike</a>
                            <a class="dropdown-item" href="#">Parts by type</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Part stats by part</a>
                            <a class="dropdown-item" href="/part_averages">Part stats by type</a>
                        </div>
                    </li>
                    <!-- Strava dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Strava</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/fetch_rides">Fetch new rides</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/strava_funcs">Strava app credentials</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Page Features -->
        <div>
            <div class="jumbotron">
                <h1>{{ rider }}</h1>
                <p class="lead">Edit details for {{ rider }}:</p>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <form action="{{ url_for('edit_rider') }}" method="POST" role="form">
                            <!-- rider name -->
                            <div class="text-left form-group">
                                <span class="lead">Rider name:</span>
                                <input class="form-control" type="text" for="rider_name" name="rider_name" destination="rider_name" placeholder="{{ rider }}">
                        </div>

                        
                        <!-- units -->
                    <div class="form-group">
                        <span class="lead">Unit type preference:</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="units" id="units" value="imperial" {% if units == "imperial" %} checked {% endif %}>
                            <label class="form-check-label" for="cover">
                                Imperial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="units" id="units" value="metric" {% if units == "metric" %} checked {% endif %}>
                            <label class="form-check-label" for="cover">
                                Metric
                            </label>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Update rider info</button>
                    </form>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>

            <!-- Buttons at bottom -->
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col col-sm-8 text-center" style="margin-top:.5cm;">
                    <a class="btn btn-secondary btn-lg btn-block" role="button" href="/rider"> Cancel (return to rider info) </a>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <footer class="page-footer font-small">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright Brendan Apfeld<br>
            </div>
            <!-- Copyright -->
        </footer>

        <!-- Scripts -->
        <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
