{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="jumbotron">
        <h2 class="display-3">Add bike</h2>
        <p class="lead">Add a new bike</p>
    </div>
    <div>
        <form action="{{ url_for('add_bike') }}" method="POST" role="form">
            <!-- bike name -->
            <div class="text-left form-group">
                <span class="lead">Name:</span>
                <input class="form-control" type="text" for="nm" name="nm" destination="nm">
            </div>

            <!-- color -->
            <div class="text-left form-group">
                <span class="lead">Color:</span>
                <input class="form-control" type="text" for="color" name="color" destination="color">
            </div>

            <!-- purchase date -->
            <div class="text-left form-group">
                <span class="lead">Date purchased:</span>
                <input class="form-control" type="text" for="purchase" name="purchase" destination="purchase" placeholder="{{ purchase }}">
            </div>

            <!-- brand -->
            <div class="text-left form-group">
                <span class="lead">Manufacturer:</span>
                <input class="form-control" type="text" for="mfg" name="mfg" destination="mfg">
            </div>

            <!-- price -->
            <div class="text-left form-group">
                <span class="lead">Price:</span>
                <input class="form-control" type="text" for="price" name="price" destination="price" placeholder="">
            </div>


            <!-- hidden label for bike id -->
            <div class="col text-center form-group">
                <input type="hidden" name="bike_id" destination="bike_id" value="{{ bike_id }}">
            </div>
            
            

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add bike</button>
        </form>
    </div>

    <!-- Buttons at bottom -->
    <div class="row">
        <div class="col text-center" style="margin-top:.5cm;">
            <a class="btn btn-secondary btn-lg btn-block" role="button" href="/bikes"> Cancel (return to bike list) </a>
        </div>
    </div>
</div>

{% endblock %}
